      <!--Scripts-->
      <script src="/js/vendor/jquery-1.10.2.min.js"></script>
<!--      <script src="/js/vendor/bootstrap.min.js"></script>-->
    <% if (includeClientGame){ %>
      <script src="/js/clientgame.js"></script>
    <% } %> 
      <script src="/js/main.js"></script>
  </body>
</html>