<% include toplayout %>
<!--Messages about the game will go here-->
<div id="gamestatus">
    <p id="turn" name="turn">Your turn</p>
    <p id="moveerr" name="moveerr"></p>
</div>
<div id="board">
<!--Item pieces will go here-->
</div>

<% include bottomlayout %>
