<% include toplayout %>
<form role="form" method="POST" action="/game/creategame">
    <select name="gameboard">
        <option value="Panda Teddy & Blocktopus">Panda Teddy & Blocktopus</option>
        <option value="Panda Teddy & Trixter">Panda Teddy & Trixter</option>
        <option value="Pandy Teddy & Pink Teddy">Pandy Teddy & Pink Teddy</option>
        <option value="Pig & Mushroom">Pig & Mushroom</option>
        <option value="Pig & Octopus">Pig & Octopus</option>
        <option value="Pink Teddy & Trixter">Pink Teddy & Trixter</option>
        <option value="Slime & Mushroom">Slime & Mushroom</option>
        <option value="Slime & Octopus">Slime & Octopus</option>
        <option value="Slime & Pig">Slime & Pig</option>
    </select>
    <button type="submit" id="creategame" name="action" class="" value="creategame">CreateGame</button>
</form>
<% include bottomlayout %>
