<% include toplayout %>
<form role="form" method="POST" action="/game/creategame">
    <button type="submit" id="creategame" name="action" class="" value="creategame">CreateGame</button>
</form>
<% include bottomlayout %>
