body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#board{
    background-image: url('../images/Board.png');
    width: 397px;
    height: 390px;
    cursor: none;
}

.gamepiece{
    position: absolute;
}

.tempPiece{
    opacity: 0.5;
    filter: alpha(opacity=50);
}
